<ion-view view-title="Manage">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" href="#/app/manage/bills" type="item-text-wrap">
        <img ng-src="http://placehold.it/50x50">
        <h2>Manage Bills</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
      <ion-item class="item-avatar item-icon-right" href="#/app/manage/roommates" type="item-text-wrap">
        <img ng-src="http://placehold.it/50x50">
        <h2>Manage Roommates</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
